
/*NAVIGASI*/

body {
   background-color: rgb(188, 241, 244);
}

.judul {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    
}

.logo {
   font-size: xx-large ;
   font-weight: bold;
   color: blue;
   text-decoration: none; 

}
  
.nav {
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.btn_up {
    text-decoration: none;
    color: #000000;
    border: solid #1000f0 2px;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn_in {
    text-decoration: none;
    color: white;
    background-color: #0b03e8;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0px 5px;
}

.item {
   color: black;
}

/*awal*/

 
.awal {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  display: flex;
  background-blend-mode: multiply;
}

.awal2 {
    font-size: 48px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

/*list*/
 
 .populer-card {
    background-color: rgb(0, 194, 253);
    box-shadow: 4px 2px  20px rgba(0, 0, 0, 0.677);
    padding: 2%;
    margin: 2%;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    align-items: center;
    color: black;
    text-decoration: none;
    min-height: 100px;

 }

 .populer-card:hover {
    background-color: rgba(0, 0, 0, 0.6);
 }

 .penjelasan {
    width: 45%;
 }

 .gambar {
    width: 45%;
 }

 .highlight {
    font-size: xx-large ;
 }

 .text {
    text-decoration: none;
 }


 /*halaman selanjutnya*/

 .pagenext {
    display: flex;
    width: 100%;
    justify-content: center;
    text-decoration: none;
 }
 
 .button {
    border: solid black 2px;
    padding: 1%;
    color: black;
    background-color: gray ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
 }

 /*footer*/


 .footer {
    display: flex;
   justify-content: space-evenly;
 }

 .logo {
    display: flex;
    width: 30%;
 }

 .footer-container {
    text-align: center;
 }

 .footerfont {
   font-size: large;
   text-decoration: none;
   color: rgba(0, 0, 0, 0.882);
 }

 